body {
    background-image: url('https://i.imgur.com/HdA3YDt.jpg');
    font-family: 'IBM Plex Sans Condensed', sans-serif;

}

.jumbotron {
background-color: white;

}

.header {
    white-space: nowrap;
    display:inline-block;
    text-align: center;

}


